# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# DS
*.DS_Store

# nc files
/Data/raw/*.nc
/Data/processed/MIROC-ESM_rcp26/*.csv
/Data/processed/IPSL-CM5A-LR_rcp26/*.csv
/Data/processed/IPSL-CM5A-MR_rcp26/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp26/*.csv
/Data/processed/MPI-ESM-LR_rcp26/*.csv
/Data/processed/MPI-ESM-MR_rcp26/*.csv

/Data/processed/ACCESS1-0_rcp45/*.csv
/Data/processed/ACCESS1-3_rcp45/*.csv
/Data/processed/IPSL-CM5A-LR_rcp45/*.csv
/Data/processed/IPSL-CM5A-MR_rcp45/*.csv
/Data/processed/IPSL-CM5B-LR_rcp45/*.csv
/Data/processed/MIROC-ESM_rcp45/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp45/*.csv
/Data/processed/MPI-ESM-LR_rcp45/*.csv
/Data/processed/MPI-ESM-MR_rcp45/*.csv

/Data/processed/IPSL-CM5A-LR_rcp60/*.csv
/Data/processed/IPSL-CM5A-MR_rcp60/*.csv
/Data/processed/MIROC-ESM_rcp60/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp60/*.csv

/Data/processed/ACCESS1-0_rcp85/*.csv
/Data/processed/ACCESS1-3_rcp85/*.csv
/Data/processed/IPSL-CM5A-LR_rcp85/*.csv
/Data/processed/IPSL-CM5A-MR_rcp85/*.csv
/Data/processed/IPSL-CM5B-LR_rcp85/*.csv
/Data/processed/MIROC-ESM_rcp85/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp85/*.csv
/Data/processed/MPI-ESM-LR_rcp85/*.csv
/Data/processed/MPI-ESM-MR_rcp85/*.csv
/Data/processed/MRI-ESM1_rcp85/*.csv


# Plots
/Plots/Discret/MIROC-ESM_rcp26/*.pdf
/Plots/Discret/IPSL-CM5A-LR_rcp26/*.pdf
/Plots/Discret/IPSL-CM5A-MR_rcp26/*.pdf
/Plots/Discret/MIROC-ESM-CHEM_rcp26/*.pdf
/Plots/Discret/MPI-ESM-LR_rcp26/*.pdf
/Plots/Discret/MPI-ESM-MR_rcp26/*.pdf

/Plots/Discret/ACCESS1-0_rcp45/*.pdf
/Plots/Discret/ACCESS1-3_rcp45/*.pdf
/Plots/Discret/IPSL-CM5A-LR_rcp45/*.pdf
/Plots/Discret/IPSL-CM5A-MR_rcp45/*.pdf
/Plots/Discret/IPSL-CM5B-LR_rcp45/*.pdf
/Plots/Discret/MIROC-ESM_rcp45/*.pdf
/Plots/Discret/MIROC-ESM-CHEM_rcp45/*.pdf
/Plots/Discret/MPI-ESM-LR_rcp45/*.pdf
/Plots/Discret/MPI-ESM-MR_rcp45/*.pdf

/Plots/Discret/IPSL-CM5A-LR_rcp60/*.pdf
/Plots/Discret/IPSL-CM5A-MR_rcp60/*.pdf
/Plots/Discret/MIROC-ESM_rcp60/*.pdf
/Plots/Discret/MIROC-ESM-CHEM_rcp60/*.pdf

/Plots/Discret/ACCESS1-0_rcp85/*.pdf
/Plots/Discret/ACCESS1-3_rcp85/*.pdf
/Plots/Discret/IPSL-CM5A-LR_rcp85/*.pdf
/Plots/Discret/IPSL-CM5A-MR_rcp85/*.pdf
/Plots/Discret/IPSL-CM5B-LR_rcp85/*.pdf
/Plots/Discret/MIROC-ESM_rcp85/*.pdf
/Plots/Discret/MIROC-ESM-CHEM_rcp85/*.pdf
/Plots/Discret/MPI-ESM-LR_rcp85/*.pdf
/Plots/Discret/MPI-ESM-MR_rcp85/*.pdf
/Plots/Discret/MRI-ESM1_rcp85/*.pdf


# Plots continuous
/Plots/Continuous/MIROC-ESM_rcp26/*.pdf
/Plots/Continuous/IPSL-CM5A-LR_rcp26/*.pdf
/Plots/Continuous/IPSL-CM5A-MR_rcp26/*.pdf
/Plots/Continuous/MIROC-ESM-CHEM_rcp26/*.pdf
/Plots/Continuous/MPI-ESM-LR_rcp26/*.pdf
/Plots/Continuous/MPI-ESM-MR_rcp26/*.pdf

/Plots/Continuous/ACCESS1-0_rcp45/*.pdf
/Plots/Continuous/ACCESS1-3_rcp45/*.pdf
/Plots/Continuous/IPSL-CM5A-LR_rcp45/*.pdf
/Plots/Continuous/IPSL-CM5A-MR_rcp45/*.pdf
/Plots/Continuous/IPSL-CM5B-LR_rcp45/*.pdf
/Plots/Continuous/MIROC-ESM_rcp45/*.pdf
/Plots/Continuous/MIROC-ESM-CHEM_rcp45/*.pdf
/Plots/Continuous/MPI-ESM-LR_rcp45/*.pdf
/Plots/Continuous/MPI-ESM-MR_rcp45/*.pdf

/Plots/Continuous/IPSL-CM5A-LR_rcp60/*.pdf
/Plots/Continuous/IPSL-CM5A-MR_rcp60/*.pdf
/Plots/Continuous/MIROC-ESM_rcp60/*.pdf
/Plots/Continuous/MIROC-ESM-CHEM_rcp60/*.pdf

/Plots/Continuous/ACCESS1-0_rcp85/*.pdf
/Plots/Continuous/ACCESS1-3_rcp85/*.pdf
/Plots/Continuous/IPSL-CM5A-LR_rcp85/*.pdf
/Plots/Continuous/IPSL-CM5A-MR_rcp85/*.pdf
/Plots/Continuous/IPSL-CM5B-LR_rcp85/*.pdf
/Plots/Continuous/MIROC-ESM_rcp85/*.pdf
/Plots/Continuous/MIROC-ESM-CHEM_rcp85/*.pdf
/Plots/Continuous/MPI-ESM-LR_rcp85/*.pdf
/Plots/Continuous/MPI-ESM-MR_rcp85/*.pdf
/Plots/Continuous/MRI-ESM1_rcp85/*.pdf

# Plots continuous annual
/Plots/Annual/MIROC-ESM_rcp26/*.pdf
/Plots/Annual/IPSL-CM5A-LR_rcp26/*.pdf
/Plots/Annual/IPSL-CM5A-MR_rcp26/*.pdf
/Plots/Annual/MIROC-ESM-CHEM_rcp26/*.pdf
/Plots/Annual/MPI-ESM-LR_rcp26/*.pdf
/Plots/Annual/MPI-ESM-MR_rcp26/*.pdf

/Plots/Annual/ACCESS1-0_rcp45/*.pdf
/Plots/Annual/ACCESS1-3_rcp45/*.pdf
/Plots/Annual/IPSL-CM5A-LR_rcp45/*.pdf
/Plots/Annual/IPSL-CM5A-MR_rcp45/*.pdf
/Plots/Annual/IPSL-CM5B-LR_rcp45/*.pdf
/Plots/Annual/MIROC-ESM_rcp45/*.pdf
/Plots/Annual/MIROC-ESM-CHEM_rcp45/*.pdf
/Plots/Annual/MPI-ESM-LR_rcp45/*.pdf
/Plots/Annual/MPI-ESM-MR_rcp45/*.pdf

/Plots/Annual/IPSL-CM5A-LR_rcp60/*.pdf
/Plots/Annual/IPSL-CM5A-MR_rcp60/*.pdf
/Plots/Annual/MIROC-ESM_rcp60/*.pdf
/Plots/Annual/MIROC-ESM-CHEM_rcp60/*.pdf

/Plots/Annual/ACCESS1-0_rcp85/*.pdf
/Plots/Annual/ACCESS1-3_rcp85/*.pdf
/Plots/Annual/IPSL-CM5A-LR_rcp85/*.pdf
/Plots/Annual/IPSL-CM5A-MR_rcp85/*.pdf
/Plots/Annual/IPSL-CM5B-LR_rcp85/*.pdf
/Plots/Annual/MIROC-ESM_rcp85/*.pdf
/Plots/Annual/MIROC-ESM-CHEM_rcp85/*.pdf
/Plots/Annual/MPI-ESM-LR_rcp85/*.pdf
/Plots/Annual/MPI-ESM-MR_rcp85/*.pdf
/Plots/Annual/MRI-ESM1_rcp85/*.pdf


# Plots animated
/Plots/Animated/MIROC-ESM_rcp26/*.gif
/Plots/Animated/IPSL-CM5A-LR_rcp26/*.gif
/Plots/Animated/IPSL-CM5A-MR_rcp26/*.gif
/Plots/Animated/MIROC-ESM-CHEM_rcp26/*.gif
/Plots/Animated/MPI-ESM-LR_rcp26/*.gif
/Plots/Animated/MPI-ESM-MR_rcp26/*.gif

/Plots/Animated/ACCESS1-0_rcp45/*.gif
/Plots/Animated/ACCESS1-3_rcp45/*.gif
/Plots/Animated/IPSL-CM5A-LR_rcp45/*.gif
/Plots/Animated/IPSL-CM5A-MR_rcp45/*.gif
/Plots/Animated/IPSL-CM5B-LR_rcp45/*.gif
/Plots/Animated/MIROC-ESM_rcp45/*.gif
/Plots/Animated/MIROC-ESM-CHEM_rcp45/*.gif
/Plots/Animated/MPI-ESM-LR_rcp45/*.gif
/Plots/Animated/MPI-ESM-MR_rcp45/*.gif

/Plots/Animated/IPSL-CM5A-LR_rcp60/*.gif
/Plots/Animated/IPSL-CM5A-MR_rcp60/*.gif
/Plots/Animated/MIROC-ESM_rcp60/*.gif
/Plots/Animated/MIROC-ESM-CHEM_rcp60/*.gif

/Plots/Animated/ACCESS1-0_rcp85/*.gif
/Plots/Animated/ACCESS1-3_rcp85/*.gif
/Plots/Animated/IPSL-CM5A-LR_rcp85/*.gif
/Plots/Animated/IPSL-CM5A-MR_rcp85/*.gif
/Plots/Animated/IPSL-CM5B-LR_rcp85/*.gif
/Plots/Animated/MIROC-ESM_rcp85/*.gif
/Plots/Animated/MIROC-ESM-CHEM_rcp85/*.gif
/Plots/Animated/MPI-ESM-LR_rcp85/*.gif
/Plots/Animated/MPI-ESM-MR_rcp85/*.gif
/Plots/Animated/MRI-ESM1_rcp85/*.gif
*.gif
*.pdf
