# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# DS
*.DS_Store

# nc files
/Data/raw/*.nc
/Data/processed/MIROC-ESM_rcp26/*.csv
/Data/processed/IPSL-CM5A-LR_rcp26/*.csv
/Data/processed/IPSL-CM5A-MR_rcp26/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp26/*.csv
/Data/processed/MPI-ESM-LR_rcp26/*.csv
/Data/processed/MPI-ESM-MR_rcp26/*.csv

/Data/processed/ACCESS1-0_rcp45/*.csv
/Data/processed/ACCESS1-3_rcp45/*.csv
/Data/processed/IPSL-CM5A-LR_rcp45/*.csv
/Data/processed/IPSL-CM5A-MR_rcp45/*.csv
/Data/processed/IPSL-CM5B-LR_rcp45/*.csv
/Data/processed/MIROC-ESM_rcp45/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp45/*.csv
/Data/processed/MPI-ESM-LR_rcp45/*.csv
/Data/processed/MPI-ESM-MR_rcp45/*.csv

/Data/processed/IPSL-CM5A-LR_rcp60/*.csv
/Data/processed/IPSL-CM5A-MR_rcp60/*.csv
/Data/processed/MIROC-ESM_rcp60/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp60/*.csv

/Data/processed/ACCESS1-0_rcp85/*.csv
/Data/processed/ACCESS1-3_rcp85/*.csv
/Data/processed/IPSL-CM5A-LR_rcp85/*.csv
/Data/processed/IPSL-CM5A-MR_rcp85/*.csv
/Data/processed/IPSL-CM5B-LR_rcp85/*.csv
/Data/processed/MIROC-ESM_rcp85/*.csv
/Data/processed/MIROC-ESM-CHEM_rcp85/*.csv
/Data/processed/MPI-ESM-LR_rcp85/*.csv
/Data/processed/MPI-ESM-MR_rcp85/*.csv
/Data/processed/MRI-ESM1_rcp85/*.csv


# Plots
/Plots/*.tiff
